[Unit]
Description=DataExpress Web Server
After=network.target

[Service]
Type=simple
ExecStart=/opt/dxwebsrv_linux64/dxwebsrv -r
RemainAfterExit=yes
TimeoutSec=25

[Install]
WantedBy=multi-user.target